<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ThymeLeaf</title>
</head>
<body>
    <h1>Variable Expression '${}' (th:text)</h1>
    <h1 th:text="${msg1}">Default Message</h1>

    <h1>th:each example</h1>
    <table border="1" cellpadding="10">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>Phone</th>
        </thead>
        <tbody>
<!--            <tr>-->
<!--                <td th:text="${id}">N/A</td>-->
<!--                <td th:text="${name}">N/A</td>-->
<!--                <td th:text="${city}">N/A</td>-->
<!--                <td th:text="${phone}">N/A</td>-->
<!--            </tr>-->
<!--            <tr th:each="user : ${users}" th:object="${user}" th:if="${user.id != 3}">-->
            <tr th:each="user : ${users}" th:object="${user}" th:unless="${user.id == 3}">
                <td th:text="*{id}">N/A</td>
                <td th:text="*{name}">N/A</td>
                <td th:text="*{city}">N/A</td>
                <td th:text="*{phone}">N/A</td>
            </tr>
        </tbody>
    </table>

    <!--        Switch Case Using Thyme Leaf-->
    <div th:switch="Ankit">
        <div th:case="${user1.name}">
            <p th:text="${user1.id}"></p>
            <p th:text="${user1.name}"></p>
            <p th:text="${user1.city}"></p>
            <p th:text="${user1.phone}"></p>
        </div>
    </div>


    <h2>Select Users whose city is Delhi</h2>

    <table border="1" cellpadding="2">
        <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        </thead>
        <tbody th:each="user : ${users}">
            <tr th:switch = "Delhi">
                <div th:case="${user.city}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.city}"></td>
                    <td th:text="${user.phone}"></td>
                </div>

<!--                Default Case-->
                <div th:case="*">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td> n/a </td>
                    <td th:text="${user.phone}"></td>
                </div>


            </tr>
        </tbody>
    </table>
    <h1>Anchor Tag</h1>
    <a href="/greet">Greet Link without thymeleaf</a><br><br>
    <a th:href="@{/greet}">Greet Link with thymeleaf</a><br><br>

    <form th:action="@{/add}">
        <label>Num 1</label>
        <input name="num1" type="number"><br><br>
        <label>Num 2</label>
        <input name="num2" type="number"><br><br>
        <button type="submit">Add</button>
    </form>
</body>
</html>